#![enable(implicit_some)]
Label(
    transform: (
        id: "fps",
        anchor: TopLeft,
        x: 100.,
        y: -25.,
        width: 200.,
        height: 50.,
        transparent: true,
    ),
    text: (
        text: "N/A",
        font_size: 16.,
        color: (0., 1., 0., 1.),
        font: File("font/DejaVuSansMono.ttf", ("TTF", ())),
    ),
)